// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$theme-color-1: #390D1E;
$theme-color-2: #afbbce;
$theme-color-3: #19576d;
$theme-color-4: #ad603a;
$theme-color-5: #17a0c1;

body {
    background-color: $theme-color-2;
}

.video-img {
    a {
        img {
            border-color: $theme-color-5;
            border-width: 0.25rem;
            border-style: solid;
            box-shadow: 4px 4px 8px rgba($theme-color-3, 0.5);
        }
    }
    a:hover {
        img {
            box-shadow: 8px 8px 12px rgba($theme-color-4, 0.75);
            border-color: $theme-color-4;
        }
       
    }
}

// .video-img:hover {
//     box-shadow: 4px 4px 8px rgba($theme-color-4, 0.5);
// }